_legacy/_serverless.yml
service: dutch-auction
frameworkVersion: "3"

provider:
  name: aws
  runtime: nodejs18.x
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  environment:
    STAGE: ${self:provider.stage}
    AWS_ACCOUNT_ID:
      Ref: "AWS::AccountId"
    DYNAMODB_TABLE: AuctionStates-${self:provider.stage}
    NOSTR_PUBLIC_KEY: "be82246ca8d64881cc53407a773e33f9e220dc2153c52bb713a9ab1fe6a18d80"

  iam:
    role:
      statements:
        - Effect: "Allow"
          Action:
            - "dynamodb:Query"
            - "dynamodb:Scan"
            - "dynamodb:GetItem"
            - "dynamodb:PutItem"
            - "dynamodb:UpdateItem"
            - "dynamodb:DeleteItem"
          Resource:
            - "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE}"
            - "arn:aws:dynamodb:${opt:region, self:provider.region}:*:table/${self:provider.environment.DYNAMODB_TABLE}/index/*"
        - Effect: "Allow"
          Action:
            - "events:PutEvents"
          Resource: "*"
        - Effect: "Allow"
          Action:
            - "states:StartExecution"
          Resource: "*"
        - Effect: "Allow"
          Action:
            - "lambda:InvokeFunction"
          Resource: "*"
        - Effect: "Allow"
          Action:
            - "logs:CreateLogGroup"
            - "logs:CreateLogStream"
            - "logs:PutLogEvents"
          Resource: "*"
        - Effect: Allow
          Action:
            - ssm:Describe*
            - ssm:Get*
            - ssm:List*
          Resource: "*"

functions:
  getAuctionsByInscriptionId:
    handler: handler.getAuctionsByInscriptionId
    events:
      - http:
          path: /inscription/{inscriptionId}
          method: get
          cors: true
  createAuction:
    handler: handler.createAuction
    events:
      - http:
          path: /create
          method: post
          cors: true
  stopAuction:
    handler: handler.stopAuctionById
    events:
      - http:
          path: stop-auction/{id}
          method: get
          cors: true

  getAuctionsByAddress:
    handler: handler.getAuctionsByAddress
    events:
      - http:
          path: auctions/address/{address}
          method: get
          cors: true
  getAuctions:
    handler: handler.getAuctions
    events:
      - http:
          path: auctions
          method: get
          cors: true
  startAuction:
    environment:
      STATE_MACHINE_ARN: arn:aws:states:us-east-1:#{AWS::AccountId}:stateMachine:DutchAuctionStateMachine-${self:provider.stage}
    handler: handler.startAuction
    events:
      - eventBridge:
          pattern:
            source:
              - "dutch-auction.start"
            detail-type:
              - "AuctionScheduled"
  updateAuctionStatus:
    handler: handler.updateAuctionStatus
  finishAuction:
    handler: handler.finishAuction

stepFunctions:
  stateMachines:
    DutchAuctionStateMachine:
      name: DutchAuctionStateMachine-${self:provider.stage}
      definition:
        Comment: "A Step Function to manage the Dutch Auction process."
        StartAt: InitializeAuction
        States:
          InitializeAuction:
            Type: Pass
            ResultPath: "$"
            Next: updateAuctionStatus
          updateAuctionStatus:
            Type: Task
            Resource:
              Fn::GetAtt: [updateAuctionStatus, Arn]
            ResultPath: "$"
            Next: IsAuctionFinished
          IsAuctionFinished:
            Type: Choice
            Choices:
              - Variable: "$.currentPrice"
                NumericLessThanEqualsPath: "$.reservePrice"
                Next: AuctionFinished
              - Variable: "$.auctionFinished"
                BooleanEquals: true
                Next: AuctionFinished
            Default: WaitRoundDuration
          WaitRoundDuration:
            Type: Wait
            SecondsPath: "$.timeBetweenEachDecrease"
            Next: updateAuctionStatus
          AuctionFinished:
            Type: Task
            Resource:
              Fn::GetAtt: [finishAuction, Arn]
            End: true
resources:
  Resources:
    AuctionStatesTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: ${self:provider.environment.DYNAMODB_TABLE}
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
          - AttributeName: nostrAddress
            AttributeType: S
          - AttributeName: inscriptionId
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1
        GlobalSecondaryIndexes:
          - IndexName: nostrAddress-index
            KeySchema:
              - AttributeName: nostrAddress
                KeyType: HASH
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
            Projection:
              ProjectionType: ALL
          - IndexName: inscriptionId-index
            KeySchema:
              - AttributeName: inscriptionId
                KeyType: HASH
            ProvisionedThroughput:
              ReadCapacityUnits: 1
              WriteCapacityUnits: 1
            Projection:
              ProjectionType: ALL
custom:
  esbuild:
    bundle: true
    minify: false
  serverlessSsmFetch:
    NOSTR_PRIVATE_KEY: NOSTR_PRIVATE_KEY~true

  # CORS configuration
  customHeaders:
    - Content-Type
    - X-Amz-Date
    - Authorization
    - X-Api-Key
    - X-Amz-Security-Token
    - X-Amz-User-Agent
  cors:
    origins:
      - "*" # Update with specific allowed origins
    headers:
      - Content-Type
    allowCredentials: false

plugins:
  - serverless-esbuild
  - serverless-step-functions
  - serverless-ssm-fetch
  - serverless-offline
  - serverless-openapi-documenter
